@import "minireset.css/minireset.css";

:root {
  --light: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 0%);
}

html,
body {
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  background: var(--dark);
  color: var(--light);
}

.hero {
  min-height: 100vh;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  user-select: none;
  font-size: 35px;
  font-weight: 100;
}
